# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_DB_URL=your-db-url

# API KEYS
GOOGLE_GEMINI_API_KEY=your-api-key
GITHUB_TOKEN=your-github-token # or OPENAI_API_KEY
